#!/bin/sh

# Copyright 2019 Matthew Seaman <matthew@FreeBSD.org>
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
# 
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Build ports from my development tree under a series of
# different OS version and architecture combinations
#
# We want to build all possible flavours, so:
#  - append '@all'
#  - use 'bulk -t' rather than 'testport'

export PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
export IFS=$( printf ' \t\n' )
umask 022

: ${POUDRIERE_PORTS:={{ test_build_ports_tree}}}
: ${POUDRIERE_SET:={{ test_build_package_set }}}
: ${POUDRIERE_JAILS:='{{ test_build_jails|join(" ") }}'}

tmp=${TMPDIR:-/tmp}

for j in $POUDRIERE_JAILS; do
    for origin in ${1+$@}; do
        pkg=${origin##*/}

        poudriere bulk -trk -C -j $j -z $POUDRIERE_SET -p $POUDRIERE_PORTS \
                  ${origin}@all | tee ${tmp}/${pkg}_${j}.testport
    done
done

#
# That's All Folks!
#
